@charset "UTF-8";
/* CSS Document */
/*GENERIC STYLE*/
body{
	background:#f7f5f4 url(../images/containerBG.jpg) repeat-x;
	text-align:center;
	line-height:25px;
	font-family:Helvetica, Arial, sans-serif;
}
#container{
	width:1002px;
	margin:0 auto;
	text-align:left;
	position:relative;
	background:#f7f5f4 url(../images/containerBG.jpg) repeat-x;
}
h1, h2, h3, h4, h5{
	margin:25px 0;
}
h2{
	
	padding-left:50px;
	margin-top:45px;
	font-size:41px;	
	color: #2f231e;
}
h3{
	font-size:30px;
	color: #745459;
	line-height:33px;	
}
p{
	color:#999; 
	font-size:11px;
	line-height:20px;
	font-family:arial; 
}
a{
	text-decoration:none;
	color:#999;
}
a:hover{
	text-decoration:none;
	color:#87dEE8;
}
#container #main li{
	color:#645A56;
	font-size:13px;
	margin-bottom:27px;
}
blockquote{
	background:#eeece9;
	color:#8c776c;
	font: italic 20px/27px georgia;
	padding:23px;
}
blockquote p{
	color:#8c776c;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:27px;
	font-style:italic;
	font-size:20px;
	
}
/*NAVIGATION*/
#container nav ul{
    float: right;
	margin-top:10px;
	margin-right:23px;
	height:111px;
	margin-bottom:0;

}
#container nav ul li{
  	float:left;
	list-style-type:none;
	width:112px;
	height:111px;
	margin: 57px;
	font-family:arial;
	font-size:11px;
	text-align:center;
}
#container nav ul li a{
    display:block;
	color:#999;
	text-transform:uppercase;
	padding-top:160px;
	height:111px;
	text-align:center;
	padding-left:0 ;
	margin-right:150px;
}
#container nav ul li a:hover{
   text-decoration:none;
	color:#87dEE8;
}
/*
#container nav ul li#li_home{
	background:url(../images/home.png) no-repeat 6px 0;
}
#container nav ul li#li_work{
	background:url(../images/work.png) no-repeat 6px 0;
}
#container nav ul li#li_about{
	background:url(../images/about.png) no-repeat 10px 0;
}
#container nav ul li#li_contact{
	background:url(../images/contact.png) no-repeat 18px 0;
}*/

/*HEADER*/
header{
	/*border-right:1px solid #60483c;
	border-left:1px solid #60483c;*/
	display:block;
}
header h1{
	margin-top:0;
}
/*SLOGAN*/
#slogan{
	height:142px;
	clear:both;
}
#slogan h1{
	margin:0 0 0 396px;
	background:url(../images/logo.png) no-repeat;
	width:184px;
	height:92px;
	position:relative;	
	text-indent:-99999px;
	top:-57px;  
}
#slogan img{
	position:absolute;
	top:-115px;
	left:-50px;
}
#slogan p{
	margin:-27px 200px 0 319px;
	padding-left:30px;
	font-size:18px;
	color:#967c70;
	border-left:1px solid #4f3b32;
}
#slogan a{
	color:white;
}
/*MAIN*/

#main{
	padding: 0 36px 100px 50px;
	overflow:hidden;
}
#main #primaryContent{
	width:500px;
	float:left;
	
}
#main #primaryContent ul h3{
	text-indent:-99999px;
	height:34px;
	margin-bottom:13px;
}
#main #primaryContent ul li#first h3{
	background:url(../images/WhatWeDoHeadings.png) no-repeat;
}
#main #primaryContent ul li#second h3{
	background:url(../images/WhatWeDoHeadings.png) no-repeat 0 -34px;
}
#main #primaryContent ul li#third h3{
	background:url(../images/WhatWeDoHeadings.png) no-repeat 0 -68px;
}
#main #primaryContent p{
	padding-left:50px;
}
#main #secondaryContent{
	padding-top:45px;
	padding-bottom:50px;
	padding-left:-200px;
	width:342px;
	float:right;
	position:relative;
}
#main #secondaryContent cite{
	color:#2f231e;
	font-weight:bold;
	font-size:15px;
	float:left;
	padding-top:35px;
	padding-right:20px;	
}
#main #secondaryContent cite span{
	color:#90512d;
	font-size:10px;
	display:block;
	line-height:10px;
}
.arrow {
	width: 0;/*reset all the dimensions*/
	height: 0;
	line-height: 0;
	border-top: 30px solid #eeece9;/*to make the arrow we work with borders*/
	border-left:30px solid #f7f5f4;
	border-right: 10px solid #f7f5f4;
	position: absolute;
	right:30px;		
}
#main #recentWork{
	clear:both;
	text-align:left;
	position:relative;
	width:800px;
	margin-left:50px;
}
#main #recentWork h2{
	border-bottom:none;
	margin-bottom:10px;
	padding-left:0px;
}
#main #recentWork ol{
	position:relative;
	text-align:center;
}
#main #recentWork ol li{
	display:inline;
	/*height:21px;
	width:21px;*/
}
#main #recentWork ol li a{
	color:#999;
	font-size:10px;
	background:#f0f0f0;
	/*width:100%;
	height:100%;*/
	padding:5px 5px;
	text-decoration:none;
	border-radius:5px;
	border: 1px solid #f0f0f0;
}
#main #recentWork ol li a:hover{
	background:#E5E5E5;
}
#main #recentWork ol li.chosen a{
	background:#ffffff;
	border: 1px solid #f0f0f0;
}
#main #recentWork p{
	font-style:italic;
	text-align:center;
	color:#999;
	font-size:10px;
	margin-top:5px;
}
.image_display{
	padding:5px;
	border-top:0px solid #f7f5f4;
	background:#f7f5f4;
	text-align:center;
}
.image_display img{
	border:0px solid #d6cec9;
}


/*FOOTER*/
#footerWrap{
	background:#161616;
	border-top:1px solid white;
	margin: auto;
	text-align: center;
	font-size: 10px;
	line-height: 17px;
	padding-top: 30px;
	text-transform: uppercase;
	overflow:hidden;
	display:block;
}
footer #footerInfo{
	font-size:11px;
}


/*main portfolio css*/


#mainportfolio{
	padding: 0 36px 150px 55px;
	overflow:visible;
	/*border-left:1px solid white;
	border-right:1px solid white;*/
}
#mainportfolio #portfolio{
	padding-left:50px;;
}
#mainabout{
	padding: 0 36px 150px 342px;
	overflow:visible;
	border-left:1px solid white;
	border-right:1px solid white;
}